.profile-picture {
    height: 120px;
    width: 120px;
    background: pink;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 185px;
        position: relative;
        right: 30px;
        bottom: 23px;
    }
}