<div class="container-fluid" *ngIf="user">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="profile-picture-content d-flex align-items-center">
                        <div class="profile-picture">
                          <img src="assets/images/portraits/sailor.jpg">
                        </div>
                        <div class="content-details">
                          <div class="username">
                            <span class="ml-2"><strong>{{user?.name}} {{user?.surname}}</strong></span>
                          </div>
                          <span class="text-primary mx-2">Change profile picture</span>
                          <span class="text-danger">Remove</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    About
                </div>
                <div class="card-body">
                        <form [formGroup]="userForm">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>Name</label>
                              <input type="text" class="form-control" placeholder="Name" formControlName="name">
                            </div>
                            <div class="form-group col-md-6">
                              <label>Surname</label>
                              <input type="text" class="form-control" placeholder="Surname" formControlName="surname">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputAddress2">Username</label>
                              <input type="text" class="form-control" placeholder="Username" formControlName="username">
                            </div>
                            <div class="form-group col-md-6">
                              <label>Roles</label>
                              <ng-select
                                  [items]="roles"
                                  [multiple]="true"
                                  [closeOnSelect]="false"
                                  [searchable]="false"
                                  placeholder="Select role"
                                  formControlName="roles"
                                  >
                              </ng-select>
                          </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" placeholder="Address" formControlName="address">
                          </div>
                          <div class="form-group">
                            <label for="inputAddress">Email</label>
                            <input type="email" class="form-control" placeholder="Email" formControlName="email">
                          </div>
                          
                          <button type="submit" class="btn btn-primary" (click)="saveChanges()">Save Change</button>
                          <button type="button" class="btn btn-primary ml-2" [ngClass]="{'btn-danger': user.active}">{{user?.active ? 'Deactivate' : 'Activate'}} User</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>



