/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

// HELPERS
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

    > .col,
    > [class*="col-"] {
       padding-right: 0;
       padding-left: 0;
    }
}

.no-padding {
    padding-right: 0!important;
    padding-left: 0!important;
}
  

.navbar {
    width: 100vw!important;
    background-color: #24375E !important;
}

.ngx-datatable.bootstrap .datatable-footer {
    background: #586888;
}

.navbar-brand { 
    img {
        width: 30px;
    }

    .brand-title {
        font-weight: bold;
        color: white;
        letter-spacing: 3px;
    }
}