<nav class="navbar navbar-expand-lg justify-content-between">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt=""> <span class="brand-title pl-2">FTI</span>
    </a>
    <div class="d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
                <div class="input-group">
                    <input class="form-control py-2 rounded-pill mr-1 pr-5" type="text" placeholder="search">
                    <span class="input-group-append">
                        <button class="btn rounded-pill border-0 ml-n5" type="button">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </button>
                    </span>
                </div>
            </li>
            <li class="nav-item px-3">
                <fa-icon [icon]="faBell" style="color: white;" size="lg"></fa-icon>
            </li>
            <li class="nav-item">
                <fa-icon [icon]="faCog" style="color: white;" size="lg"></fa-icon>
            </li>
        </ul>
    </div>
</nav>