<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Lorem Ispum</h3>
                            <p class="text-muted mb-4">Veniam nulla dolor et nulla aliqua amet proident qui aliqua.</p>
                            <form [formGroup]="loginForm" (ngSubmit)="authenticateUser()">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg rounded-pill" formControlName="username"  placeholder="Username" [ngClass]="{'is-invalid': invalid}">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg rounded-pill" formControlName="password"  placeholder="Password" [ngClass]="{'is-invalid': invalid}">
                                </div>
                                <div class="div error-display my-3 justify-content-center d-flex text-danger" *ngIf="invalid">
                                    Wrong credentials. Please try again.
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-md btn-primary">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
