.vertical-navbar {
    display: flex;
    height: 100vh;
    background-color: #f4f5f7;

    .nav-item {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 0 15px;
        .nav-link {
            padding-left: 15px;
            color: #42526e;
        }

        &:hover {
            background: #ffde7d;
        }
    }
}

.ng-fa-icon {
    width: 20px;
}