
<div class="container-fluid no-gutters no-padding">
    <div class="row no-gutters"  *ngIf="userIsLogged">
        <div class="col"><app-header></app-header></div>
    </div>
    <div class="row no-gutters">
    <div class="col-md-2" *ngIf="userIsLogged">
            <app-dashboard></app-dashboard>
    </div>
    <div class="col-md-10" [ngClass]="{'col-md-12': !userIsLogged}">
            <div class="container-fluid">
                <div class="row pt-3">
                    <div class="col">
                            <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>