
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <app-dashboard></app-dashboard>
        </div>
        <div class="col-lg-10">
            <div class="container-fluid">
                <div class="row">
                    <app-header *ngIf="userIsLogged"></app-header>
                </div>
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>