.comment-detail {
  color: #42526e;
  font-size: .875rem;
}

.comment {
  font-size: .9375rem;
  margin-left: 48px;
}

.comment-wrapper {
  overflow: hidden;
  overflow-y: scroll;
  display: block;
  height: 330px;
  margin-top: 10px;
}
