<div class="container-fluid" *ngIf="stats">
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-md-9">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card-counter primary">
                <fa-icon [icon]="faClipboardList"></fa-icon>
                <span class="count-numbers">{{stats.openTickets}}</span>
                <span class="count-name">Kerkesa te hapura</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card-counter danger">
                <fa-icon [icon]="faTicketAlt"></fa-icon>
                <span class="count-numbers">{{stats.ownedTickets}}</span>
                <span class="count-name">Kerkesa te krijuara</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card-counter success">
                <fa-icon [icon]="faOpenBox"></fa-icon>

                <span class="count-numbers">{{stats.assignedTickets}}</span>
                <span class="count-name">Kerkesa te marra</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mt-5">
          <p-chart type="bar" [data]="data" [options]="basicOptions" width="78vw" height="60vh"></p-chart>
      </div>
      </div>
    </div>
</div>
