    <div class="table-wrapper">
      <p-table styleClass="p-datatable-sm"
      [value]="users"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Duke treguar {first} deri ne {last} te {totalRecords} perdoruesve"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
          Perdoruesit
      </div>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            Id
            <p-sortIcon field="id"></p-sortIcon>
            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
          </th>
          <th pSortableColumn="username">
            Username <p-sortIcon field="username"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="username"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="email">
            Email <p-sortIcon field="email"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="email"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="role">
            Roli <p-sortIcon field="role"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="role"
              display="menu"
            ></p-columnFilter>
          </th>

          <th>
            Actions
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles[0].role }}</td>
          <td>
            <button type="button" (click)="goTo(user.id)" class="btn btn-sm btn-info mx-2"> <fa-icon [icon]="faEye"></fa-icon></button>
            <button type="button" (click)="editUser(user.id)" class="btn btn-sm btn-success mx-2"> <fa-icon [icon]="faUserEdit"></fa-icon></button>
                    <button type="button" (click)="onDeleteUser(user.id)" class="btn btn-sm btn-danger" *ngIf="user.active"> <fa-icon [icon]="faTrash"></fa-icon></button>
                    <button type="button" (click)="onActivateUser(user.id)" class="btn btn-sm btn-primary" *ngIf="!user.active"> <fa-icon [icon]="faPlusCircle"></fa-icon></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    </div>
