<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2>All Users</h2>
                </div>
            </div>
            <div class="row">
               <div class="col">
                <div class="table-actions d-flex justify-content-end">
                    <button type="button" class="btn-md btn btn-light" (click)="onMakeActive()"><fa-icon [icon]="faPlusCircle"></fa-icon> Enable</button>
                    <button type="button" class="btn-md btn btn-light mx-2" (click)="onDelete()"><fa-icon [icon]="faTrash"></fa-icon> Disable</button>
                    <button type="button" class="btn-md btn btn-light" (click)="onFilter()"><fa-icon [icon]="faFIlter"></fa-icon> Filter</button>
                </div>
               </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-users-presentation *ngIf="allUsers$ | async as users" [users]="users"
                    (onEditUser)="editUser($event)"
                    [selected]="selected"
                ></app-users-presentation>
                </div>
            </div>
        </div>
    </div>
</div>
